[COSE] [IANA #1442481] expert review for draft-ietf-cose-cbor-encoded-cert (core-parameters)

Link: https://mailarchive.ietf.org/arch/msg/cose/eE1HZkShYxeA2G26XUGYKTJttpI/

------
Hello David & COSE WG,

I've reviewed the request. One thing that surprised me was the presence 
of an optional parameter "usage" without any explanation for some of the 
media types defined.
Is this a copy/paste error maybe? Has there been a media-types review of 
these already?

Note that for all the CoAP Content-Format requests that do include a 
"usage" parameter, the explanation is present! So this does not hamper 
the present registration request.

If in Figure 20 the spaces in  "usage = chain" and "usage = c509" could 
be removed, per RFC 9876 Section 4.1.4, and the new media types are 
approved, then this request can be approved.

regards

Esko

This is duplicating #338. 