IPR and commercial use 

Are there any IPR claims applied to the C509 certificates? In other words, is there any limitation to use C509 certificates in the commercial products?

Thanks!

There are no IPR disclosures made on C509 certificates in the IETF, and the authors of the draft are not aware of any IPR. The purpose of making this an IETF standard is to enable interoperable use in products. (Do let us know if you are interested in making interop. tests!)

Hey Göran, thank you for the detailed answer.

I am the owner of an opensource PKI project (https://github.com/xipki/xipki). In the feature, I will add the support of C509 (and as part of the interop. test). Specifications I am missing before I start the implementation are  at least:
- CBOR-encoded certificate management protocols, e.g. CBOR-encoded CMP/EST/ACME,
- CBOR-encoded CRL,
- CBOR-encoded OCSP, 
- C509 in TLS.

Can you share the roadmap to write these RFC standards?

Hi Lijun (@xipki), thanks for sharing, looks great!

Here are starting points for specs: 

* CBOR-encoded certificate management protocols, e.g. CBOR-encoded CMP/EST/ACME

I'm aware of two tracks here. One track is based on optimizations of EST with two instances: EST-CoAPs (RFC 9148) and EST-OSCORE (draft-ietf-ace-coap-est-oscore). Both these drafts are keeping much of the original REST APIs from EST (although abbreviated)  but it uses protocols more suitable for constrained environments, such as CoAP and DTLS, or CoAP and OSCORE (RFC 8613). OSCORE is built on CBOR and COSE: in short it is wrapping CoAP messages in COSE_Encrypt0. This is the closest you get to a CBOR encoded security protocol: Using EST-OSCORE with EDHOC (draft-ietf-lake-edhoc) then both the security handshake as well as the certificate enrollment is encoded in CBOR and COSE.
 
Another track is to do CMP over CoAP (RFC 9482). In this case the CMP PKIMessages are DER encoded.

* CBOR-encoded CRL
* CBOR-encoded OCSP

The revocation related text were taken out of draft-ietf-cose-cbor-encoded-cert and put into a separate draft draft-cose-cbor-revocation-management is kept in a separate draft in the same github waiting to be submitted:
https://github.com/cose-wg/CBOR-certificates
As you can see, the CRL part is essentially done. There is an ongoing discussion about which optimizations to make on OCSP.

* C509 in TLS

draft-ietf-cose-cbor-encoded-cert defines the certificate format in 
https://datatracker.ietf.org/doc/html/draft-ietf-cose-cbor-encoded-cert-07#name-tls-certificate-types-regis
Is there anything else you are missing?

Roadmaps are much to ask for. IETF works by building consensus among engaged people who are specifying and implementing things. If people are active and pro then things progress more quickly. We have been having this on the back burner for some time, now trying to wrap up the basic specification. More people are invited to contribute to the work, e.g. the revocation draft, which would speed up the process.

Formally work in the IETF is done in working groups. CBOR-encoded CRL/OSCP are both in scope of the COSE working group. Lightweight certificate enrollment protocols such as EST-CoAPs (RFC 9148) and EST-OSCORE are in scope of the ACE working group. All work progress is cleared through the mailing lists of the working groups, which are open and available to anyone. Welcome to join the work!

https://www.ietf.org/mailman/listinfo/COSE
https://www.ietf.org/mailman/listinfo/ACE




Hi Göran,

- EST-CoAPs seems still to enroll the X.509 certificates.
- EST-SCORE (draft) looks good, it should be extended with more details. I can support here both in the specification text and implementation. Some customized extension in my opensource can also be added to this draft.
- CRL: This is the most complicated part compared to certificate and OCSP. There are (full CRL, delta CRL) x (direct CRL, indirect CRL). And in some cases the CRL could be very large (e.g. Apple's WWDR CRL, at least in 2020, contained over 1 million revoked certificates). We need to re-design the CRL, 1:1 mapping from X.509 is not a good idea.
- OCSP: I will check it once published.
- C509 in TLS: Yes. Do you plan to have this implemented in any popular TLS libraries, e.g. mbedtls?

BR/Lijun


Hi Lijun,

Sorry for slow response. There are several topics here, some answers:

* EST-OSCORE: It would be interesting to hear more, please provide input to https://github.com/ace-wg/est-oscore
or if you prefer we can have a discussion first.
* Revocation: Yes, CRL is included partly because it is straightforward to define it given the encoding of certificates, clearly constrained environments may not be able to support that. OCSP is based on a previous master thesis but additional design choices are needed.

As for implementation, the first goal is to have implementations of the basic conversion X.509 <-- --> C509, other code is for later.
 
BR,
Göran
