COSE_CertHash

In draft -14
```
 The value type of c5t is the COSE_CertHash structure defined in
   [RFC9360], which contains the hash value of the C509 certificate
   calculated over ~C509Certificate
```

For the X.509 certificate, COSE_CertHash is calculated over the whole `Certificate` including the leading tag and length. We shall follow here the same mechanism, and calculated over the `C509Certificate` instead the unwrapped one `~C509Certificate`.

This relates to the discussion in #222 and #228, defining the C509CertData. I didn't and don't have a strong preference between array or unwrapped form, just that the same form be used for those three purposes listed above so that an ignorant processor doesn't need to care about the contents.

If there is a technical reason to use one or the other then I support that solution, and it sounds like the array form is preferred from the implementation side.

I strongly recommend to use `Certificate` instead `~Certificate` in all above cases. 

Considering "TLS Certificate Types Registry",  the `cert_data` is encoded in TLS as follows:

```
cert_data: length (certs) || certs

certs: cert 1 || ... || cert n
```

1. For X509 certificate, `cert` is of `Certificate` with the envelope `SEQUENCE`:
```
   Certificate  ::=  SEQUENCE  {
        tbsCertificate       TBSCertificate,
        signatureAlgorithm   AlgorithmIdentifier,
        signatureValue       BIT STRING  }
```
And we shall not change the syntax here in C509.

2. If `cert`has the unwrapped form `~Certificate`, there is no clear separation of two certificates. In worst case, if the C509 certificate later is extended to have additional fields, it is impossible to handle such cases.


Note that 

COSE_C509 = C509CertData / [ 2* C509CertData ]
C509CertData = bytes .cborseq C509Certificate

so there is separation between consecutive certificates. They are a sequence of CBOR byte strings.

Nevertheless it may be worth considering the consequent change. I start a PR.

The whole motivation here seems to ignore the change to  bytes .cborseq C509Certificate that was added to an earlier version. The  bytes .cborseq C509Certificate was clearly forgotten in the TLS part, which need to be fixed.

I marged a correction to the TLS certificate part, which should be done inpependent of any future changes

The earlier change to byte string was well motivated. I don't see the technical reasons here.

With all the data on the wire being CBOR byte strings, we could even go back to C509Certificate being a sequence as it used to be. The reason to change it fo array was to times when it was send over the wire, which it is not anymore. Would going back to 

C509Certificate = (
   TBSCertificate,
   issuerSignatureValue : any,
)

solve the ideological issues?

After the last discussion, my suggestion would be:

COSE:
C509CertData = bytes .cborseq C509Certificate

c5t:
Hash of a C509Certificate

TLS:
C509Certificate 

That aligns with the C509 principle of reducing overhead unless there are strong programming issues to do otherwise.

> After the last discussion, my suggestion would be:
> 
> COSE:
> C509CertData = bytes .cborseq C509Certificate
> 
> c5t:
> Hash of a C509Certificate

In this situation I cannot compute the hash without prepending the array head and I don't know what count to put in the array head without decoding the cert contents. So I am against this combination.

Before we go into details with C509 certificate, let me explain how it works in the X.509 Certificate. For better reading, I use the term  `X509Certificate`rather than the `Certificate`as used in some specifications.

# X509 Certificate
As in RFC 5280, X509Certificate is a `SEQUENCE` of tbsCertifcate, signatureAlgorithm and signatureValue.

```
   X509Certificate  ::=  SEQUENCE  {
        tbsCertificate       TBSCertificate,
        signatureAlgorithm   AlgorithmIdentifier,
        signatureValue       BIT STRING  }
```

Although there is no unwrapped version, for the comparison with C509, we define `~X509Certificate` as follows:
```
~X509Certificate ::= (
        tbsCertificate       TBSCertificate,
        signatureAlgorithm   AlgorithmIdentifier,
        signatureValue       BIT STRING
)

X509Certificate ::= SEQUENCE { ~X509Certificate}
```

For an X509Certifiate, the DER-encoded value is `DER-encode(X509Certficate) = 30 LEN(~X509Certificate) || ~X509Certificate` where `30`is for the outer `SEQUENCE`.

Now we consider the usages in COSE_CertHash, COSE_X509 and TLS.

## COSE_CertHash
As in RFC 9360,  the type `COSE_CertHash` contains the hash value *"is a binary string containing the hash value computed over the DER-encoded certificate"*, e.g. `DER-encode(X509Certficate)`.

```
COSE_CertHash = [ hashAlg: (int / tstr), hashValue: bstr ]
```

## COSE_X509
COSE_X509 represents a sorted / unsorted list of X509Certificates.

```
COSE_X509 = bstr / [ 2*certs: bstr ]
```
The contents of "bstr" are the bytes of a DER-encoded X509Certificate.

## TLS
As in RFC 5246
```
opaque ASN.1Cert<1..2^24-1>;

struct {
     ASN.1Cert certificate_list<0..2^24-1>;
} Certificate;

certificate_list
      This is a sequence (chain) of certificates.  The sender's
      certificate MUST come first in the list.  Each following
      certificate MUST directly certify the one preceding it.  Because
      certificate validation requires that root keys be distributed
      independently, the self-signed certificate that specifies the root
      certificate authority MAY be omitted from the chain, under the
      assumption that the remote end must already possess it in order to
      validate it in any case.
```

The wired content is the concatenation of a list of (X509)certificates, and the wired content is as follows
```
DER-encode(X509Certficate-1) || ... || DER-encode(X509Certficate-n)
```
, namely 
```
30 LEN(~X509Certificate-1) || ~X509Certificate-1 || ... || 30 LEN(~X509Certificate-n) || ~X509Certificate-n
```

# C509Certificate
If we do follow the design principle in X509Certificate, we just need to replace the `X509Certificate` with `C509Certificate`, and replace `DER-encode`with `CBOR-encode`, and get the following definitions.

## COSE_CertHash
The type `COSE_CertHash` contains the hash value *"is a binary string containing the hash value computed over the CBOR-encoded certificate"*, e.g. `CBOR-encode(C509Certficate)`.

## COSE_C509
COSE_C509 represents a sorted / unsorted list of C509Certificates.

```
COSE_C509 = bstr / [ 2*certs: bstr ]
```
The contents of "bstr" are the bytes of a CBOR-encoded C509Certificate.

## TLS

```
opaque cert_data<1..2^24-1>;
The wired content is the concatenation of a list of C509Certificates, and the wired content is as follows
```
CBOR-encode(C509Certficate-1) || ... || CBOR-encode(C509Certficate-n)
```
, namely 
```
8B ~C509Certificate-1 || ... || 8B || ~C509Certificate-n
```



@BrianSipos According to your comment, the TLS section shall then be as follows

## TLS

```
opaque cert_data<1..2^24-1>;
```
The wired content is the concatenation of a list of C509CertData, and the wired content is as follows
```
C509CertData-1 || ... || C509CertData-n
```

Pro:
-  The TLS application is able to split the certificates without parsing the single certificates
Contra:
- Additional 2-3 bytes pro certificate are required.

I am fine with this alternative.

This thread started with three items: 
* C509CertData
* COSE_CertHash
* 9.20 TLS Certificate Types Registry

Are we now OK with the specification in -14 for all three items, and that we should close #277?



We plan a design team meeting for Monday unless this sorts itself out, contact me if you want to attend. (@BrianSipos: should be in your inbox)

Linking to [Section 4.4.2 of TLS 1.3](https://www.rfc-editor.org/rfc/rfc8446.html#section-4.4.2) here to keep track of this information for the discussion:

>    certificate_list:  A sequence (chain) of CertificateEntry structures,
      each containing a single certificate and set of extensions.

with the ASN being the following, each X509 certificate framed within an ASN.1 opaque (length prefixed) `cert_data` byte string

      struct {
          select (certificate_type) {
              case RawPublicKey:
                /* From [RFC 7250](https://datatracker.ietf.org/doc/html/rfc7250) ASN.1_subjectPublicKeyInfo */
                opaque ASN1_subjectPublicKeyInfo<1..2^24-1>;

              case X509:
                opaque cert_data<1..2^24-1>;
          };
          Extension extensions<0..2^16-1>;
      } CertificateEntry;

      struct {
          opaque certificate_request_context<0..2^8-1>;
          CertificateEntry certificate_list<0..2^24-1>;
      } Certificate;

This is a different structure than in TLS 1.2 (as defined in [Section 7.4.2](https://datatracker.ietf.org/doc/html/rfc5246#section-7.4.2)) but TLS 1.2 _only_ support X509 cert type, so there is no need for C509 to somehow fit into the TLS 1.2 structure.

>The 3 byte length field indicates the length of the certificate_list which contains usually 2+ certificates.
TLS 1.2, TLS 1.3, DTLS 1.2, DTLS 1.3, and QUIC all work the same. There is a a 3 byte length field for the certificate_list and a 3 byte length field for each cert_data.

> Each X509 certificate framed within an ASN.1
Not so important, but this is not ASN.1, it is the TLS presentation language

> TLS 1.2 only support X509 cert type, so there is no need for C509 to somehow fit into the TLS 1.2 structure.
How to use certificate types in TLS 1.2 is specified in RFC 7250. C509 works well in TLS 1.2, TLS 1.3, DTLS 1.2, DTLS 1.3, and QUIC.

