Encoding of iPAddress name constraints

[Section 4.2.1.10 of RFC 5280] defines the syntax of `iPAddress` constraints as:

```
The syntax of iPAddress MUST be as described in [Section 4.2.1.6](https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.6) with
   the following additions specifically for name constraints.  For IPv4
   addresses, the iPAddress field of GeneralName MUST contain eight (8)
   octets, encoded in the style of [RFC 4632](https://datatracker.ietf.org/doc/html/rfc4632) (CIDR) to represent an
   address range [[RFC4632](https://datatracker.ietf.org/doc/html/rfc4632)].  For IPv6 addresses, the iPAddress field
   MUST contain 32 octets similarly encoded.  For example, a name
   constraint for "class C" subnet 192.0.2.0 is represented as the
   octets C0 00 02 00 FF FF FF 00, representing the CIDR notation
   192.0.2.0/24 (mask 255.255.255.0).
```

This encoding is quite inefficient, as 4 (for IPv4) or 16 (for IPv6) octets are used to encode a value that can be represented by one octet, namely the number of bits in the netmask. As an example, the "class C" subnet 192.0.2.0 can instead be encoded as `C0 00 02 00 18` (192.0.2.0/24).



>As an example, the "class C" subnet 192.0.2.0 can instead be encoded as C0 00 02 00 18 (192.0.2.0/24).

That seems like best option
