Med Boucadair's review


_**Discuss**_ (2026-04-10) 

# IETF Review with Expert Review

CURRENT:
  All assignments according to "IETF Review with Expert Review" are made on a "IETF Review" basis per {{Section 4.8 of [RFC8126](https://datatracker.ietf.org/doc/rfc8126/)}} with "Expert Review" additionally required per {{Section 4.5 of [RFC8126](https://datatracker.ietf.org/doc/rfc8126/)}}. 

and

 the registration procedure is "IETF Review with Expert Review".

I remember that Carsten edited [draft-bormann-gendispatch-with-expert-review](https://datatracker.ietf.org/doc/draft-bormann-gendispatch-with-expert-review/), but do we have a stable reference where such policy is defined?

# The WG may be closed: not sure how this guidance will age

CURRENT:
  In addition, working group chairs are encouraged to consult the expert(s) early during the process outlined in Section 3.1 of {{[RFC7120](https://datatracker.ietf.org/doc/rfc7120/)}}.





_**Comment**_ (2026-04-10)

# Is this already deployed there or these are deployment targets?

CURRENT:
  C509 is deployed in, e.g., in-vehicle and vehicle-to-cloud communication, Uncrewed Aircraft Systems (UAS), and Global Navigation Satellite System (GNSS)

“is deployed” won’t age well in an RFC, btw.

# Please consider adding a reference

CURRENT :

  the CBOR encoding can in many cases reduce the size of  [RFC7925](https://datatracker.ietf.org/doc/rfc7925/) profiled certificates by over 50%.

# Any reason why this is repeated here?

CURRENT:
  The procedure for early IANA allocation of "standards track code points" defined in {{[RFC7120](https://datatracker.ietf.org/doc/rfc7120/)}} also applies.


Med's follow-up mail (modulo ACKs):
https://mailarchive.ietf.org/arch/msg/cose/TZWrH_8k2dTTc_Fkot-2w1SHBFU/

Hi Göran,

Thank you for the follow-up and for the changes made in -18.

Please see inline.

Cheers,
Med

De : Göran Selander <goran.selander@ericsson.com>
Envoyé : vendredi 17 avril 2026 17:07
À : BOUCADAIR Mohamed INNOV/NET <mohamed.boucadair@orange.com>; The IESG <iesg@ietf.org>
Cc : [cose-chairs@ietf.org](mailto:cose-chairs@ietf.org); [cose@ietf.org](mailto:cose@ietf.org); [draft-ietf-cose-cbor-encoded-cert@ietf.org](mailto:draft-ietf-cose-cbor-encoded-cert@ietf.org); [ivaylopetrov@google.com](mailto:ivaylopetrov@google.com)
Objet : Re: Mohamed Boucadair's Discuss on draft-ietf-cose-cbor-encoded-cert-17: (with DISCUSS and COMMENT)



---


# IETF Review with Expert Review

CURRENT:
  All assignments according to "IETF Review with Expert Review" are made on a
  "IETF Review" basis per {{Section 4.8 of RFC8126}} with "Expert Review"
  additionally required per {{Section 4.5 of RFC8126}}.

and

 the registration procedure is "IETF Review with Expert Review".

I remember that Carsten edited draft-bormann-gendispatch-with-expert-review,
but do we have a stable reference where such policy is defined?

# The WG may be closed: not sure how this guidance will age

CURRENT:
  In addition, working group chairs are encouraged to consult the expert(s)
  early during the process outlined in Section 3.1 of {{RFC7120}}.


<<GS: During the IESG evaluation of RFC 9668, John Scudder raised a DISCUSS [0] about the IANA considerations using these hybrid registration policies, which were not fully specifying their use in the context of the new registry and what it meant to use those with respect to the early allocation process. The result was text that we are consistently using in several drafts, see for example [1].

So, the paragraph which this DISCUSS is about is just following previous resolutions of IESG discussions.
Regarding how this guidance will age, note that it the reference to working group chairs is not referring to potential closed WGs.

[0] https://mailarchive.ietf.org/arch/msg/core/CaK5R4gq1wc3CN5-dTN3uRXoU2U/

[1] https://www.ietf.org/rfc/rfc9668.html#section-8.3-3
>>

[Med] I went through that thread and I agree that we need to be consistent. I consider my main point closed. Note that I still prefer if we could avoid including text that smells like an update to rfc7120#section-3.1:

CURRENT:
 In addition, working group chairs are encouraged to consult the expert(s) early during the process outlined in Section [3.1<https://rfc-editor.org/rfc/rfc7120#section-3.1>](http://3.1%3Chttps//rfc-editor.org/rfc/rfc7120#section-3.1%3E) of [[RFC7120<https://www.ietf.org/rfc/rfc9668.html#RFC7120>](http://rfc7120%3Chttps//www.ietf.org/rfc/rfc9668.html#RFC7120%3E)]


---

# Any reason why this is repeated here?

CURRENT:
  The procedure for early IANA allocation of "standards track code points"
  defined in {{RFC7120}} also applies.

<<GS: The same argument as in the DISCUSS applies here. >>
[Med] Repeating this is an indication that we are not confident that this falls under:

   a.  The code points must be from a space designated as "RFC
       Required", "IETF Review", or "Standards Action".  Additionally,
       requests for early assignment of code points from a
       "Specification Required" registry are allowed if the
       specification will be published as an RFC.

and hence an explicit mention is needed ...which is an update to 7120!


@gselander we are waiting for input