Clean-up extensions, extended key usage enums, and fix build-error

The following extensions are fully supported, thus they shall be moved from list of "partly supported" to "fully supported":

1. IPAddrBlocks and IPAddrBlocks v2 (after the merge of #339 )
2. OCSP No Check (the extension value SHALL be NULL according to RFC 6960)
3. TLS Features

And remove the RFC6962-related definitions:
- Extension PreCertificate
- Extended Key Usage enum "Certificate Transparency" 

And the reference for SmtpUTF8Mailbox in extensions shall be RFC 9598 instead 8398

@xipki PR

Fixed in #360 

Covers also the RFC references problems in #345 