Gunter Van de Velde's No Objection on draft-ietf-cose-cbor-encoded-cert-17

Link: https://mailarchive.ietf.org/arch/msg/cose/wrAJhMBkIZ4zeSoS8imhICzlDag/

[COSE] Gunter Van de Velde's No Objection on draft-ietf-cose-cbor-encoded-cert-17: (with COMMENT)
Gunter Van de Velde via Datatracker <noreply@ietf.org> Wed, 08 April 2026 11:06 UTC[Show header](https://mailarchive.ietf.org/arch/msg/cose/wrAJhMBkIZ4zeSoS8imhICzlDag/#)

Gunter Van de Velde has entered the following ballot position for
draft-ietf-cose-cbor-encoded-cert-17: No Objection

When responding, please keep the subject line intact and reply to all
email addresses included in the To and CC lines. (Feel free to cut this
introductory paragraph, however.)


Please refer to https://www.ietf.org/about/groups/iesg/statements/handling-ballot-positions/ 
for more information about how to handle DISCUSS and COMMENT positions.


The document, along with other ballot positions, can be found here:
https://datatracker.ietf.org/doc/draft-ietf-cose-cbor-encoded-cert/



----------------------------------------------------------------------
COMMENT:
----------------------------------------------------------------------

Many thanks for the write-up. Appreciated.

My observation is that while the shepherd writeup claims nothing noteworthy
when running idnits, but when i run idnits
([https://author-tools.ietf.org/api/idnits?url=https://www.ietf.org/archive/id/draft-ietf-cose-cbor-encoded-cert-17.txt](https://author-tools.ietf.org/api/idnits?url=https%3A%2F%2Fwww.ietf.org%2Farchive%2Fid%2Fdraft-ietf-cose-cbor-encoded-cert-17.txt))
i end up with a long laundry list of observations. Maybe worthwhile to run
through the list and explain why they are deemed not meaningful/relevant and
add this context in the write-up?

One of those idnits observations is that there may only be v4 examples and no
v6 examples?

G/

Carsten's response:
https://mailarchive.ietf.org/arch/msg/cose/KUxW4UegoP2X3HFzpmFBH8s3pnQ/

Hi Gunter,

even though this document has left the WG, let me quickly add a couple of observations to yours.

> My observation is that while the shepherd writeup claims nothing noteworthy
> when running idnits, but when i run idnits
> ([https://author-tools.ietf.org/api/idnits?url=https://www.ietf.org/archive/id/draft-ietf-cose-cbor-encoded-cert-17.txt](https://author-tools.ietf.org/api/idnits?url=https%3A%2F%2Fwww.ietf.org%2Farchive%2Fid%2Fdraft-ietf-cose-cbor-encoded-cert-17.txt))
> i end up with a long laundry list of observations.

...Summary: 6 errors (**), 0 flaws (~~), 8 warnings (==), 9 comments (--).

> Maybe worthwhile to run
> through the list and explain why they are deemed not meaningful/relevant and
> add this context in the write-up?

We could do that in the future.
idnits has so many false positives that it is a chore to process its output.

E.g., these “errors” (“**”) point to PKCS 9 and PKCS 10:

  ** Downref: Normative reference to an Informational RFC: RFC 2985

  ** Downref: Normative reference to an Informational RFC: RFC 2986

These are frequent downrefs [1], with 13 [2] resp. 33 [3] normative references from other documents at this point:

[1]: https://datatracker.ietf.org/doc/downref
[2]: https://datatracker.ietf.org/doc/rfc2985/referencedby/
[3]: https://datatracker.ietf.org/doc/rfc2986/referencedby/

idnits could know that.

I’ll leave

  ** Obsolete normative reference: RFC 5246 (Obsoleted by RFC 8446)

  ** Obsolete normative reference: RFC 6962 (Obsoleted by RFC 9162)

  ** Obsolete normative reference: RFC 8398 (Obsoleted by RFC 9598)

…to the authors; while the first one just points to the RFC with the original definition, it seems the other two could make use of the new specification.

  ** There are 43 instances of too long lines in the document, the longest
     one being 25 characters in excess of 72.

…could also be addressed by the authors, either via RFC 8792 or by editing the unruly sourcecode, e.g., by adding a newline after a rule start that has an excessively long identifier.
Most of the instances come from the formatter malfunction in Table 20.
This may need to be addressed by the tools team/RPC.

> One of those idnits observations is that there may only be v4 examples and no
> v6 examples?

This is actually a correct observation: There is one IPv4 example in Section 3.3 that is not accompanied by a IPv6 example.  Looking at this document as a potential user, I consider this fine, as the principle explained here becomes quite clear from the IPv4 example.

There are tons of constructs in the draft that may look like dotted-quads (IPv4 addresses) to a tool such as idnits but that are really ASN.1 Object Identifiers.
I think this is where "42 instances of lines with non-RFC6890-compliant IPv4 addresses” comes from.

Many programming languages have pragmas to suppress misleading warnings; it doesn’t seem easy to add such a feature to idnits but it will need to be done if idnits is to be taken more seriously by authors.

- The "line too long" and IPv4 / v6 addresses problems have been resolved in draft -18.
- The references to latest RFCs (8398 -> 9598) will be fixed in the next version (-19).
- RFC 6962 will not be changed to 9162, the OIDs we use in the Figures are only defined in 6962, not in 9162.

RFC 8398 -> 9598: fixed in #360
RFC 6962: removed in #360

@gselander I think we do not have open problems here.