Use IP addresses for documentation in the examples

- IPv4: 192.0.2.0/24 (TEST-NET-1), 198.51.100.0/24 (TEST-NET-2), and 203.0.113.0/24 (TEST-NET-3) as defined in RFC5737/RFC3849
- IPv6: 2001:DB8::/32 (RFC 3849), 3fff::/20 (RFC 9637)

Where does this change request come from?

Derived from the Comment of Mike Bishop on 2026-04-28:
 https://datatracker.ietf.org/doc/draft-ietf-cose-cbor-encoded-cert/ballot/