Update references

Idnits lists the following reference errors

>   ** Downref: Normative reference to an Informational RFC: RFC 2985
>   ** Downref: Normative reference to an Informational RFC: RFC 2986
>   ** Obsolete normative reference: RFC 3039 (Obsoleted by RFC 3739)
>   ** Obsolete normative reference: RFC 6962 (Obsoleted by RFC 9162)
>   -- Possible downref: Non-RFC (?) normative reference: ref. 'SECG'

* I believe RFC 2985/6 are the kind of informational RFCs that may be allowed as normative references.

* I don't understand why we need a reference to RFC 3039. Proposed change:

OLD
The Attribute Email Address and domainComponent (as specified in [RFC3039]) are always an ia5String.
NEW
The attribute value for emailAddress and domainComponent are always of type IA5String (see {{RFC5280}}).

* RFC 9162 is version 2.0 of CT.


The proposed change above: ce5835c

We agreed to restrict scope to CT 1.0 for now.