Add EDHOC authentication credential type

See Section 8.3 of RFC 9668. C509 was previously listed in the table, but was removed to avoid normative dependence. This issue is about registration of C509 as a credential type in that table. 