Mike's review

https://mailarchive.ietf.org/arch/msg/cose/ovP7nAMuuwLuzb2kaZBPFdB8vMM/




## Comments

### IANA

This document seems to have unresolved IANA issues. Have next steps
been determined?

### Section 8.1, paragraph 1
```
     The expert reviewers for the registries defined in this document are
     expected to ensure that the usage solves a valid use case that could
     not be solved better in a different way, that it is not going to
     duplicate an entry that is already registered, and that the
     registered point is likely to be used in deployments.  They are
```
These things are vague enough to give me concern; not quite DISCUSS-level, but I
worry that we're inviting appeals from registrants who disagree with the
reviewer on the "best" preferred solution.

### Section 8.6, paragraph 1

How does "If OID is present" reconcile with "OID [is] mandatory"?

### Section 8.6, paragraph 1

Is the goal that all elements of some existing registry are assigned
mapped values here? If so, synchronization becomes a concern, and adding a
column to that registry might be preferable. If it's independent and just linked
to that other registry by OID, this is probably the best we can do.

### Too many authors

The document has six authors, which exceeds the recommended author limit. Has
the sponsoring AD agreed that this is appropriate?

### Missing references

No reference entries found for these items, which were mentioned in the text:
`[bytes]`.

### DOWNREFs

DOWNREF `[RFC7299]` from this Proposed Standard to Informational `RFC7299`.
(For IESG discussion. It seems this DOWNREF was not mentioned in the Last Call
and also seems to not appear in the DOWNREF registry. Reference only appears to
be for a registry reference.)

### IP addresses

Found IP blocks or addresses not inside RFC5737/RFC3849 example ranges:
`23.106.104.0`, `2.5.29.15`, `2.5.29.37`, `2.5.4.41`, `2.5.4.11`, `2.5.4.8`,
`23.109.0.0/16`, `2001:7f9:ffff:ffff:ffff:ffff:ffff:ffff`, `2.5.4.12`,
`2.5.29.30`, `2.5.4.20`, `23.111.63.255`, `2.5.29.14`, `2.5.4.43`, `2.5.29.32`,
`2.5.4.4`, `2.5.4.6`, `2.5.29.54`, `2.5.29.31`, `23.106.119.255`,
`22.82.0.0/16`, `2.5.4.15`, `2.5.29.35`, `2.5.29.46`, `1.3.101.113`,
`2.5.4.97`, `2002:8:0:ffff:ffff:ffff:ffff:ffff`, `2.5.4.17`,
`2001:bff:ffff:ffff:ffff:ffff:ffff:ffff`, `23.111.16.0`, `2.5.4.42`,
`2.5.4.65`, `1.3.101.111`, `1.3.101.110`, `2.5.29.18`, `2.5.4.3`, `2.5.4.7`,
`2.5.4.44`, `2.5.4.5`, `2.5.29.19`, `2.5.4.46`, `2.5.4.9`, `2.5.29.9`,
`2.5.29.36`, `2.5.4.54`, `23.83.112.0/20`, `1.3.101.112`, `2.5.29.17`,
`2.5.29.33`, and `2.5.4.10`.

## Nits

All comments below are about very minor potential issues that you may choose to
address in some way - or ignore - as you see fit. Some were flagged by
automated tools (via https://github.com/larseggert/ietf-reviewtool) so there
will likely be some false positives. There is no need to let me know what you
did with these suggestions.

### Typos

#### Section 3.3, paragraph 42
```
-       CBOR uint.  With the exception of the first ASId, the ASid is
-                                                               ^
-       encoded as the difference to the previous ASid.
-                                                   ^
+       CBOR uint.  With the exception of the first ASId, the ASId is
+                                                               ^
+       encoded as the difference to the previous ASId.
+                                                   ^
```

#### Section 3.8, paragraph 1
```
-    In TLS and DTLS, the subject of trusted authory may be sent to the
+    In TLS and DTLS, the subject of a trusted authority may be sent to the
+                                    ++              ++
```

#### Section 7, paragraph 5
```
-    handled exactly as how such errors would be handled for the
-                      ----
```

### Section 8.23, paragraph 1
```
   This document registers the following entry in the "SMI Security for
                       ^^
```

### Uncited references

Uncited references: `[RFC2247]`, `[RFC1274]`, `[RFC6960]`, `[X.520]`,
`[RFC6962]`, `[RFC3161]`, and `[GSMA-SGP.22]`.

### Outdated references

Reference `[RFC6962]` to `RFC6962`, which was obsoleted by `RFC9162` (this may
be on purpose).

Reference `[RFC8398]` to `RFC8398`, which was obsoleted by `RFC9598` (this may
be on purpose).

Reference `[RFC5246]` to `RFC5246`, which was obsoleted by `RFC8446` (this may
be on purpose).

Reference `[RFC1274]` to `RFC1274`, which was obsoleted by `RFC4524` (this may
be on purpose).

Document references `draft-ietf-lamps-RFC7030-csrattrs`, but that has been
published as `RFC9908`.

### Grammar/style

#### Section 3.3, paragraph 26
```
      encoded as an int.  The policyQualifierId is encoded as an CBOR
                                                              ^^
```
Use "a" instead of "an" if the following word doesn't start with a vowel sound,
e.g. "a sentence", "a university".

#### Section 3.3, paragraph 38
```
        and for IPv6 addresses, the field MUST contain 17 octets, where
        the last octet indicates the number of bits in the prefix.  As an
```
While it's clear after a moment how to parse, consider ending the sentence after
"17 octets" and starting a new sentence, "In both cases, the last...."

#### Section 3.3, paragraph 55
```
e calculated over ~C509Certificate. Thus C509CertData contains all data neces
                                    ^^^^
```
A comma may be missing after the conjunctive/linking adverb "Thus".

#### Section 3.5, paragraph 5
```
ay be sent to the peer to help it selecting the certificate chain, as in the
                                  ^^^^^^^^^
```
The verb "help" is used with an infinitive.

#### Section 4.4, paragraph 12
```
the remaining text strings are minimal in size. Therefore, the further size r
                               ^^^^^^^^^^^^^^^
```
This wording could be more concise.

#### Section 6.2, paragraph 2
```
t could not be solved better in a different way, that it is not going to dup
                             ^^^^^^^^^^^^^^^^^^
```
Consider replacing this phrase with the adverb "differently" to avoid
wordiness.

#### Section 6.2, paragraph 3
```
eview with Expert Review" are made on a "IETF Review" basis per Section 4.8 o
                                      ^
```
Use "an" instead of "a" if the following word starts with a vowel sound, e.g.
"an article", "an hour".

#### Section 8.20, paragraph 3
```
erences [CAB-Code] CA/Browser Forum, "CA/Browser Forum, "Baseline Requiremen
                                     ^
```
Unpaired symbol: """ seems to be missing.

#### Section 8.20, paragraph 3
```
gning/>. [CAB-TLS] CA/Browser Forum, "CA/Browser Forum, "Baseline Requirement
                                     ^
```
Unpaired symbol: """ seems to be missing.

