Typo: Extension SignedCertificateTimestamps

In the draft -09:
- Page 16:
```
*  Signed Certificate Timestamp.  If all the SCTs are version 1, and
      there are no SCT extensions, the extension value can be CBOR
```
`version 1` shall be changed to `version v1(0)`

- Page 30: `extension value: SignedCertificateTimestampList`shall be changed to `extension value: SignedCertificateTimestamps`.

Hi @gselander ,

in draft -09, the text "version 1" shall be changed to "version v1(0)". The difference is the original one means the digital number 1, but the new one means the digital number 0.

The  OID 1.3.6.1.4.1.11129.2.4.2 corresponds to the extension named SignedCertificateTimestampList, see Section 3.3 of RFC 6962. 

Instead of defining a different name of the extension in the C509 Extensions registry, shouldn't we rather change the CDDL?

OLD
SignedCertificateTimestamps = [ + SignedCerticateTimestamp ]
NEW
SignedCertificateTimestampList = [ + SignedCerticateTimestamp ]



Mind here is another typo on the inner list: [ + Signed**Certicate**Timestamp ] should be[ + Signed**Certificate**Timestamp ]