Attribute macAddress

Since macAddress can only be encoded as IA5String, the following text in Section "3.1.4. Issuer" needs to be extended:

Is:
```
The attribute value for
emailAddress and domainComponent are always of type IA5String (see
[RFC5280]), and is for this reason unambiguously represented using a
non-negative int.
```

Shall be:
```
The attribute value for
emailAddress, domainComponent (see [RFC5280], and macAddress 
(see [RFC2307] are always of type IA5String, and is for this reason 
unambiguously represented using a 
non-negative int.
```

And add an entry for RFC2308 in the Appendix "10.1.  Normative References".

RFC2307 is quite old, I am not sure it is still state-of-art.

RFC 2307 define attributes that can be stored in an LDAP directory.  The macAddress is oen such attribute.  I have never seen it used as a naming attribute as part of a distinguished name.  Has anyone seen it used this way?

Inspiration came from https://datatracker.ietf.org/doc/html/draft-ietf-lamps-rfc7030-csrattrs-22 but we may have moved away from original intent.

No objection noted, PR merged