AD mail comments 14 April


708	   *  Name Constraints (nameConstraints).  If the name constraints only
709	      contain general names registered in Section 9.12 the extension
710	      value can be CBOR encoded.  C509 uses the same additions and
711	      restrictions as defined in Section 4.2.1.10 of [RFC5280].  Note
712	      that the minimum and maximum fields are not used and therefore
713	      omitted.  For IPv4 addresses, the iPAddress field MUST contain
It references Section 4.2.1.10 of RFC5280, but that section has been updated by Section 2.2 of 9549.
If you do not want the updates from 9549 to apply, you should say that; or you should acknowledge 9549.

In this bit of text
1099	4.3.2.  Challenge Password

1101	   The X.509 attribute "Challenge Password" is defined in [RFC2985].
1102	   The 'attributeValue' field has type ChallengePassword.  A UTF8 String
1103	   is encoded as CBOR text, and a Printable String is tagged with number
1104	   121 (alternative 0 as defined in Section 9.1 of
1105	   [I-D.bormann-cbor-notable-tags]).  All other string types are not
1106	   supported.  For certificate request type 2, only UTF8 String is
1107	   allowed.
I believe that is a normative reference to bormann-cbor-notable-tags, but its listed as informative?



Related to RFC5280/9549: We will apply RFC9549
Related to I-D.bormann-cbor-notable-tags: we will use the IANA registration https://www.iana.org/assignments/cbor-tags/cbor-tags.xhtml

Fixed in #352 

Also providing pointer to @nacho319