Define `csrattrs`

I would like to discuss whether it would make sense to define the CDDL of `application/csrattrs` in this document. 

`application/csrattrs` is defined in [Section 4.5 of RFC 7030](https://datatracker.ietf.org/doc/html/rfc7030#section-4.5) and the semantics is clarified in https://datatracker.ietf.org/doc/draft-ietf-lamps-rfc7030-csrattrs/.

The definition of `application/csrattrs` was brought up to `draft-ietf-ace-coap-est-oscore` in https://github.com/ace-wg/est-oscore/issues/34. However, the est-oscore document does not define any of the formats itself and relies for all CBOR formats on this document.

https://datatracker.ietf.org/doc/html/rfc7030#section-4.5.2

Here's the object to convert to CDDL, if someone gets inspired: (@cabo ?)

   CsrAttrs ::= SEQUENCE SIZE (0..MAX) OF AttrOrOID

   AttrOrOID ::= CHOICE (oid OBJECT IDENTIFIER, attribute Attribute }

   Attribute { ATTRIBUTE:IOSet } ::= SEQUENCE {
        type   ATTRIBUTE.&id({IOSet}),
        values SET SIZE(1..MAX) OF ATTRIBUTE.&Type({IOSet}{@type}) }

I think this is the approximate equivalent:

~~~ cddl
CsrAttrs = [* AttrOrOID]

AttrOrOID = Oid / Attribute

Oid = ~oid
oid = #6.111(bstr) ; see RFC 9090

Attribute = $Attribute .within ([type, +value])

type = any
value = any
; (I don't know what type and value are.)

$Attribute /= [name: 1, + text]
$Attribute /= [datetime: 2, ~time]
~~~

Here is what the example generator produces:

~~~ cbor-diag
[h'616C62657363656E74', 
 [1, "hielaman"], 
 [2, -694], 
 [1, "oversound"]]
~~~

(The example generator doesn't know how an OID looks like, so it puts in a randomly chosen byte string.  
-694 probably is not a date I would have chosen for an example either.)

As far as I understand, it suffices with the three first lines from @cabo 

> CsrAttrs = [* AttrOrOID]
>
> AttrOrOID = ~oid / Attribute

The rest is already defined in the draft. The examples in the referenced documents seems to match.

Talking we Göran, the way forward is to specify a format based on TBSCertificateRequest. This is a similar solution as 
https://datatracker.ietf.org/doc/html/draft-ietf-lamps-rfc7030-csrattrs-22#name-use-of-csr-templates

Here is a suggestion that I think would work

```
C509CertificateRequestTemplate = [
   c509CertificateRequestType: int / null,
   subjectSignatureAlgorithm: AlgorithmIdentifier / null,
   subject: NameTemplate,
   subjectPublicKeyAlgorithm: AlgorithmIdentifier / null,
   subjectPublicKey: any / null,
   extensionsRequest: ExtensionsTemplate,
]

NameTemplate = [ * AttributeTemplate ]

AttributeTemplate = (( attributeType: int, attributeValue: text / null ) //
                     ( attributeType: ~oid, attributeValue: bytes / null ))

ExtensionsTemplate = [ * ExtensionTemplate ]

ExtensionTemplate = (( extensionID: int, extensionValue: any / null ) //
                     ( extensionID: ~oid, ? critical: bool,
                       extensionValue: bytes / null ))
```


Need to make sure that null is not a valid extensionValue for any extension


To not get any collisions with ordinary extensionValues, I think we need to do this

```
Extension = (( extensionID: int, extensionValue: any .ne null )
ExtensionTemplate = (( extensionID: int, extensionValue: any )
```

New full suggestion. 

```
   Extension = (( extensionID: int, extensionValue: any .ne null ) //
                 ( extensionID: ~oid, ? critical: true,
                  extensionValue: bytes ))

```

```
C509CertificateRequestTemplate = [
   c509CertificateRequestType: int / null,
   subjectSignatureAlgorithm: AlgorithmIdentifier / null,
   subject: NameTemplate,
   subjectPublicKeyAlgorithm: AlgorithmIdentifier / null,
   subjectPublicKey: any / null,
   extensionsRequest: ExtensionsTemplate,
]

NameTemplate = [ * AttributeTemplate ] / text / bytes

AttributeTemplate = (( attributeType: int, attributeValue: text / null ) //
                     ( attributeType: ~oid, attributeValue: bytes / null ))

ExtensionsTemplate = [ * ExtensionTemplate ] / int

ExtensionTemplate = (( extensionID: int, extensionValue: any ) //
                     ( extensionID: ~oid, ? critical: true,
                       extensionValue: bytes / null ))
```

Merged to main