Editorial-type feedback comments from Brian Sipos

https://mailarchive.ietf.org/arch/msg/cose/xwaKaVD2SJ3-uV0eh7WWYX3fp1Y/


1.	It is currently difficult to extract a full CDDL document for this
draft. Could one be extracted and added to the Github repo for reference? Or
some procedure for how we can extract a full, valid CDDL definition from the
markdown?
I did some copy-paste work to get this and am running into tool errors, it
seems like the 'time' rule is missing but maybe I'm extracting an
incomplete set..?
Also some reference CDDL like the 'oid' from RFC 9090 needs to be included
somehow; manually in a Github file is fine, but having a complete and
parseable CDDL document would be very valuable for users.

2.	The IANA sections which include what looks like a
dictionary-list-within-table-cells makes reading and interpreting the tables
difficult to me. Some IANA registries with many fields use a pure
dictionary-list representation to avoid having a table with large numbers of
columns.

3.	Also in IANA tables having multiple forms of the PKIX OIDs is
convenient but somewhat confusing that they are all just in the text without
specific labels or explanations. I can infer that they are 'name
(dotted-decimal) hex-binary' but being more explicit in the form and
explanation could be helpful (see no. 2 above about separating registry
fields).


Questions for @BrianSipos (and others having an opinion) related to the points above:

1.
@cabo made PR #215 and responded to the COSE mailing list: 
https://mailarchive.ietf.org/arch/msg/cose/rEuV4sohR-0GZnuAj8becdXtwkU/
Does this solve the problem?


2.
Does this comment refer to all sections 9.3-9.11?

> Some IANA registries with many fields  ...

Do you have an RFC reference, or example of a preferred representation?

3.

What kind of explanations are you missing? Please give an example.

For 1, having a procedure is good and if possible having an already-extracted file in the source repo is more turnkey (not needing users of the CDDL to have the tools to properly extract) but not critical.

For 2, I've seen a couple of options for many-column registrations either as a definition list (as in [RFC 9052](https://www.rfc-editor.org/rfc/rfc9052.html#section-11.3)) or a table (as in [RFC 9174](https://www.rfc-editor.org/rfc/rfc9174.html#section-8.1)) for each registered code point. Both of these make the document more verbose, but also allow many columns to be present without a large width table.

For 3, just to be absolutely clear either before or after the table it would be good to explain how to interpret the format for the OIDs:
1. text name registered with IANA
2. dotted decimal OID with reference to [RFC 4512](https://www.rfc-editor.org/rfc/rfc4512.html#section-1.4) (or something more recent if there is one)
3. Hex string of DER-encoded OID with reference to ITU-T X.690

The last edits look good.
My comment about the table structure may be more related to the markdown generated table than what is intended for IANA so that is fine.