Assign integer value to following extensions

please assign integer value to following extensions:

- BiometricInfo (RFC 3739)
- CT Precertificate SCTs (RFC 6962)
- OcspNoCheck (RFC 6960)
- QCStatements (RFC 3739, eIDAS standard eN 319 412)
- SMIMECapabilities (RFC 4262)
- TLSFeature (RFC 7633)

-- Lijun Liao, https:[github.com/xipki](http://github.com/xipki)

For external visibility, we authors are trying to determine the suitable scope and the community interest in working with these extensions. Specifically:

- Whether the community is satisfied with having them added to the 11.3. C509 Extensions Registry, but without new cbor-specific encodings of the actual extension value, or 
- If they also ought to be given new cbor-specific encodings

Status update: agreement from IETF 117 to add them as register values, but not with their own encoding(s)