Missing the extensionValue's syntax for several extensions

Syntax for the following extensions needs to be added:
- code 36, Biometric Information (RFC 3739)
- code 37, Precertificate Signing Certificate (RFC 6962)
- code 38, OCSP No Check (RFC 6960)
- code 39, Qualified Certificate Statements (RFC 3739)
- code 40, S/MIME Capabilities (RFC 8551)
- code 41, TLS Features (RFC 7633)

Indeed I see that we haven't specified "raw bytes" as the intended extension value! Our intention as authors is to have raw byte encodings for the extension values, for the recently added extension types. But if someone is proposing a new CDDL encoding, together with representative example X.509 certificates we are open for further discussions. 

For OCSP No Check (code 38), I will suggest to use `null`for the extensionValue.

For TLS Feature, the ASN.1 syntax is defined in RFC 7633 as follows:
```
   id-pe-tlsfeature OBJECT IDENTIFIER ::=  { id-pe 24 }

   Features ::= SEQUENCE OF INTEGER
```

The feature contains the `TLS extension` which are between [0, 65535] (see https://www.iana.org/assignments/tls-extensiontype-values/tls-extensiontype-values.xhtml#tls-extensiontype-values-1), and can be encoded in CBOR uint.

Thus I suggest to use following C509 syntax:
```
  TLSFeatures = [+ feature: uint]
```

For the Biometric Information (code 36):

The ASN.1 definition in RFC 3739 is as follows:
```
      BiometricSyntax ::= SEQUENCE OF BiometricData

      BiometricData ::= SEQUENCE {
          typeOfBiometricData  TypeOfBiometricData,
          hashAlgorithm        AlgorithmIdentifier,
          biometricDataHash    OCTET STRING,
          sourceDataUri        IA5String OPTIONAL }

      TypeOfBiometricData ::= CHOICE {
          predefinedBiometricType    PredefinedBiometricType,
          biometricDataID            OBJECT IDENTIFIER }

      PredefinedBiometricType ::= INTEGER { picture(0),
          handwritten-signature(1)} (picture|handwritten-signature,...)
```

I suggest to use the following CDDL in C509:
```
BiometricSyntax = [+ BiometricData ] / null -- null for empty SEQUENCE

BiometricData = (
 typeOfBiometricData: uint / ~oid / pen,
 hashAlgorithm: uint / ~oid / pen,
 biometricDataHash: bstr,
 sourceDataUri: ?tstr
)
```
For the hashAlgorithm, the constants defined in RFC 9054 (https://datatracker.ietf.org/doc/rfc9054/) may be used here.



Suggestion to encode SMIMECapabilities in CBOR:

If all capabilities do not contain parameters or the parameters field is of ASN.1 type `INTEGER`and its value is in the range [0, 0xFFFFFFFFFFFFFFFF] (64 bit unsigned integer), then the SMIME extension can be CBOR encoded. Below is the syntax:

```
SMIMECapability =
(
  capabilityID: ~oid/pen,
  ? parameters : uint
)

SMIMECapabilities = [ * SMIMECapability ]
```


Related to the QCStatements, it is quite difficult to define a CBOR syntax.

Here are some examples of QC statements:
- ETSI EN 319 412-5 (https://www.etsi.org/deliver/etsi_en/319400_319499/31941205/02.04.01_60/en_31941205v020401p.pdf)

*For now we keep 38 & 41 as relevant,  and wait for a PR/PRs from Lijun*

Thanks Lijun!

I have fixed

  Precertificate Signing Certificate (RFC 6962)
  OCSP No Check (RFC 6960)
  TLS Features (RFC 7633)

I think the rest will have to be specified and registered later.

  Biometric Information (RFC 3739)
  Qualified Certificate Statements (RFC 3739)
  S/MIME Capabilities (RFC 8551)


For me, this issue can be closed.